@use "../../styles/global.scss" as *;

.transactions {
    margin: 1rem;

    h3 {
    font-size: $font-size-medium;
    margin-bottom: 15px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        align-items: center;

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid $light-background;
        }

        th {
            font-size: $font-size-small;
            color: $gray-text;
        }

        td {
            font-size: $font-size-regular;
        }

        .inflow {
            color: $positive-color; // Set a positive color for inflows
        }

        .outflow {
            color: $negative-color; // Set a negative color for outflows
        }
        
        .inflow:last-child {
            color: $positive-color; // Green for inflows
        }

        .outflow:last-child {
            color: $negative-color; // Red for outflows
        }
    }
}
