@use "../../styles/global.scss" as *;

.header{
    align-items: center;
    margin: 1rem 0.7rem;

    @include desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h1 {
        font-size: $font-size-large;
        font-weight: $font-medium;

        @include desktop{
            padding-left: 1.5rem;
        }
    }

    .date-options {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;

        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: end;
            width: auto;
        }

        @include desktop{
            width: auto;
        }

        button {
            font-family: 'Consolas';
            font-weight: $font-medium;
            font-size: $font-size-small;
            margin-right: 0.7rem;
            padding: 0.5rem 0.8rem;
            border: none;
            background-color: $light-background;
            color: $gray-text;
            border-radius: 0.5rem;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            &.selected {
                background-color: $primary-color;
                color: white;
            }

            &:hover {
                background-color: lighten($primary-color, 20%);
                color: $dark-text;
            }
        }
    }
}
